body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 { color:#ff7e67 }

#ulMatches {
    list-style-type: none;
}
#ulMatches li {
    padding: 5px;
}
#ulMatches li:hover {
    background-color: #42b883;
    cursor: pointer;
    color: white;
}


#sectionRecipe div {
    padding: 15px;
    color: white;
}

.hide { display: none; }


#sectionRecipe div:nth-child(1) { 
	background: #42b883; 
}
	
#sectionRecipe div:nth-child(2) { 
	background: #347474; 
}

#sectionRecipe div:nth-child(3) { 
	background: #35495e; 
}

#sectionRecipe div:nth-child(4) { 
	background: #ff7e67; 
}
