h1 { color:red }

#ulMatches {
    list-style-type: none;
}
#ulMatches li {
    padding: 5px;
}
#ulMatches li:hover {
    background-color: chocolate;
    cursor: pointer;
    color: white;
}

#sectionRecipe div {
    padding: 5px;
}